.body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    /* background-color: rgb(39 32 143); */
    background-image: linear-gradient(to right, rgb(97, 95, 141), rgb(19, 10, 141));
    color: white;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    padding-right: 33%;
}

.form {
    border-bottom: solid 1px;
    padding-bottom: 20px;
}

.btn-grey{
    background: #8080806e;
    color: black;
    border-style: none
}

.container {
    margin: 10px
}

#previous-search {
    padding: 10px 0;
}

.search-history {
    padding: 0rem;
 
}

#display {
    display: none
}

.current-weather {
    border: 1px solid black;
}

#current-city {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin:0 5px;
}

#current-date {
    padding: 0 10px;
}

#weather-icon {
    margin-right: 10px;
}

.current-details {
    padding: 0px 10px;
    margin: 0px;
}

.forecast {
    margin-bottom: 5px;
    margin-top: 10px;
}

.five-day-forecast {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.card-column {
    flex: 1 0 20%;
    padding: 0 0.5rem 0 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.five-day-details {
    background-color: rgb(49, 49, 82);
    color: white;
}

.five-day-item{
    list-style: none;
}